---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="Nosotros">
  <Section name="Nostros">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
      exercitationem, iste eum vel libero eius inventore aspernatur eaque cum
      tenetur tempora deserunt incidunt impedit quae eligendi deleniti?
      Doloribus, unde ipsam!
    </p>
  </Section>
</Layout>
