---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="Productos Nuevos">
    <Section name="Recien llegados">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit odio, distinctio enim temporibus ex animi vitae autem maxime atque nihil et ducimus, fugiat dignissimos minima nostrum neque recusandae quis impedit?</p>
    </Section>
</Layout>