---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="Opiniones">
  <Section name="Opiniones de clientes">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quas
      eum, architecto saepe id impedit beatae atque! Rem asperiores officiis ab,
      facere exercitationem inventore recusandae ipsam, mollitia iste libero
      reiciendis?
    </p>
  </Section>
</Layout>
