---
import Section from "../layouts/Section.astro";
---

<div id="default-carousel" class="relative w-full p-0 md:p-3" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-28 overflow-hidden rounded-lg md:h-[250px]">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="redminoteseries.webp"
        class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="Redmi Note Series Not Found"
      />
      <p class="absolute top-[45%] left-[25%] text-gray-800 text-md md:text-xl">
        Redmi Note Series
      </p>
      <p
        class="absolute top-[55%] left-[20%] text-sm text-gray-800 hidden md:block"
      >
        C치mara profesional para retratar cada momento
      </p>
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="xiaomiseries.webp"
        class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="Xiaomi Series Not Found"
      />
      <p class="absolute top-[45%] left-[25%] text-gray-800 text-md md:text-xl">
        Xiaomi Series
      </p>
      <p
        class="absolute top-[55%] left-[20%] text-sm text-gray-800 hidden md:block"
      >
        Dise침o ligero experiencia sensacional
      </p>
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="POCO-SERIES-1.webp"
        class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="Poco Series Not Found"
      />
      <p class="absolute top-[45%] left-[25%] text-gray-800 text-md md:text-xl">
        Poco Series
      </p>
      <p
        class="absolute top-[55%] left-[24%] text-sm text-gray-800 hidden md:block"
      >
        Todo lo que necesitas
      </p>
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="REDMI-SERIES-1.webp"
        class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="Redmi Series Not Found"
      />
      <p class="absolute top-[45%] left-[25%] text-gray-800 text-md md:text-xl">
        Redmi Series
      </p>
      <p
        class="absolute top-[55%] left-[18%] text-sm text-gray-800 hidden md:block"
      >
        Los smartphones m치s econ칩micos para los Mi Fans
      </p>
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img
        src="CARGADORES-1.webp"
        class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
        alt="Cargadores Series Not Found"
      />
      <p class="absolute top-[45%] left-[25%] text-gray-800 text-md md:text-xl">
        Cargadores Series
      </p>
      <p
        class="absolute top-[55%] left-[20%] text-sm text-gray-800 hidden md:block"
      >
        La mejor carga en cualquier lugar y momento
      </p>
    </div>
  </div>
</div>
